<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

   
<bean class="CollectionTypeInjection.Emp" name="emp1">
<property name="name">
<value>Raj</value>
</property>

<property name="phones">
<list>
<value>9876543210</value>
<value>9876543211</value>
<value>9876543212</value>
<value>9876543213</value>
</list>
</property>

<property name="address">
<set>
<value>Landon</value>
<value>delhi</value>
<value>noida</value>
<value>mumbai</value>
</set>
</property>

<property name="courses">
<map>
<entry key="java" value="2months"></entry>
<entry key="spring" value="3months"></entry>
<entry key="hybernate" value="1months"></entry>
</map>
</property>




</bean>
    
    
    

</beans>